// sources:
// - http://dsgov.estaleiro.serpro.gov.br/ds/fundamentosvisuais/tipografia
// - https://h-ibaldo.github.io/Raleway_Fixed_Numerals/

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-100.otf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-100i.otf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-200.otf");
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-200i.otf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-300.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-300i.otf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-400.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-400i.otf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-500.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-500i.otf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-600.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "futurastd";
    src: url("./fonts/futurastd-600i.otf");
    font-weight: 600;
    font-style: italic;
}
