@import "./style/normalize.css";
@import "./style/_variables.scss";
@import "./style/futurastd.scss";

body {
  font: {
    family: "futurastd", Fallback, sans-serif;
    weigth: 400;
    style: normal;
  }
}

[is="app"] {
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(240, 240, 240, 1);

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;

      svg {
        margin-top: 2rem;
      }

    }

    .editor-container {

      box-shadow: 0 24px 24px -18px rgba(69,104,129,.33), 0 9px 45px 0 rgba(114,119,160,.12);
      background: blue;

      #editorjs {
        background: white;
        padding: 70px 50px;
        width: 100%;
        width: 90vw;
        max-width: 700px;
      }
    }

  }
}
